.form {
    display: flex;
    flex-direction: column;
    > * { // looking for all children of form selector
        margin-bottom: $m-size;
    }
}

.form__error {
    margin: 0 0 $m-size 0;
    font-size: italic; 
}